{% extends 'main.html' %}
{% block content %}
<center>
<div id="sup">
    <h3><p>
    Welcome to our Support Page. If you are facing any issues while using our website,
    booking flights, or accessing your account, feel free to contact our support team.
    We are available to help you with bookings, cancellations, payment issues, and
    other queries. Your comfort and satisfaction are our priority.
</p></h3>
<h1>❤</h1>
<div id="box10">
<div>
    <h4>
        Contact:9124057355
    </h4>
</div>
<div>
    <h4>
        Email:Flight45@gmail.com
    </h4>
</div>
</div>
</div>
</center>
{% endblock %}